.container {
  margin-bottom: 5rem;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.post {
  color: var(--gray-500);

  a {
    display: inline-block;
  }

  h2,
  h3 {
    transition: color 0.3s;
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    color: var(--gray-100);
    font-weight: 700;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 400;
  }

  .infoContainer {
    font-size: 0.875rem;
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
  }
  .info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  a:hover {
    h2,
    h3 {
      color: var(--pink-500);
    }
  }
}

.bottomContainer {
  margin-top: 4rem;
}

.nextPageButton {
  background: none;
  color: var(--pink-500);
  font-weight: 600;
  transition: filter 0.5s;
  border: none;
  &:hover {
    text-decoration: underline;
    filter: opacity(0.8);
  }
}

.loader {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.25rem solid var(--gray-500);
  border-top-color: var(--pink-500);
  border-radius: 50%;

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  animation: spin 1s infinite ease-in-out;
}
